@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");


body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* header */

.menu-icon {
  display: none; /* Ẩn icon menu ban đầu */
}

header {
  background-color: #ffffff;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

header a {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
}

.logo {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
}

.logo-link img {
  width: 100px; /* Đổi kích thước của logo */
  height: auto; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
  display: block; /* Loại bỏ khoảng trắng dư thừa ở dưới hình ảnh */
}

/* lang swtich */
.en-link img,
.jp-link img,
.vn-link img {
  width: 30px; 
  height: auto; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
  display: block; /* Loại bỏ khoảng trắng dư thừa ở dưới hình ảnh */
  z-index: 1;
}

/* CSS cho trạng thái tiếng Nhật */
.jp-link img {
  content: url('img/jp.png');
}

.en-link img {
  content: url('img/en.png');
}

.jp-image {
  font-size: 30; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
}


.language-container {
  display: flex;
  align-items: center;

}

.Language-color b {
  white-space: nowrap;
}

.dropdown {
  position: relative;
  display: flex;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  display: flex;
  align-items: center;
}

.dropdown-content img {
  width: 30px;
  height: auto;
  display: block;
  margin-right: 5px;
  
}

.Language-color b {
  color: #000000;
}

.dropdown a {
  display: flex; /* Cho phép các phần tử trong .dropdown a nằm ngang */
  align-items: center; /* Căn chỉnh các phần tử theo trục dọc */
  margin-right: 10px; /* Khoảng cách giữa các phần tử */
  text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
  color: #000000; /* Màu chữ */
}

.dropdown img {
  margin-right: 5px; /* Khoảng cách giữa hình ảnh và văn bản */
}



.dropdown-content a {
  padding: 5px 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.dropdown-content a:hover {
  background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover {
  background-color: #3e8e41;
}





  .menu-rp {
    display: none; /* Ẩn menu-rp ban đầu */
  }

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

.menu li {
    margin: 0 20px;
    font-weight: bold; /* In đậm các mục trong menu */
    white-space: nowrap;
}
.menu li:first-child {
    margin-left: 50px; /* Đẩy phần "Activities" sang phải 10px */
}

/*---------------------------- Tìm kiếm---------------------------------------------- */


/*---------------------------- Project---------------------------------------------- */
.content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin: 10px 10px 10px 10px;
    width: 1200px;
}

.content-columns {
    display: flex;
    margin-bottom: 20px;
}

.content-columns p {
    font-size: 20px;
}

.content-column {
    flex: 1;
    margin-right: 10px;
}

.content-column img {
    width: 470px;
    height: 470px;
}

.date-and-share {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.date {
    margin-right: auto;
}

.share-icon {
    font-size: 20px;
    cursor: pointer;
    color: #2FBB89;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #2FBB89;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 15px;
}

.progress-text {
    height: auto;
    position: absolute;
    margin-left: 500px;
    margin-top: -4px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.buttons button {
    cursor: pointer;
    margin-right: 100px;
}

.heart-icon {
    font-size: 30px;
    cursor: pointer;
    margin-right: 50px; /* Khoảng cách giữa icon heart và các nút khác */
}

.button-container {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
}

.view-more-button {
    font-size: 19px;
    width: 120px;
    background-color: #ffffff;
    color: #0085FF;
    border-radius: 20px 20px 20px 20px;
    border: none; /* Bỏ viền */
}

.contributor-button {
    font-size: 20px;
    width: 250px;
    background-color: #2FBB89;
    color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    border: none; /* Bỏ viền */
}

/*---------------------------- new Project ---------------------------------------------- */

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Căn giữa nội dung */
}

.title {
  font-size: 24px;
  font-weight: bold;
  word-wrap: break-word;
  color: #000000; /* Màu sắc tiêu đề */
  margin-bottom: 20px;
  text-align: center;
}

.video {
  margin-bottom: 20px;
}

.video iframe {
  width: 100%;
  height: 400px;
}

.description {
  font-size: 20px;
  color: #000000;
  text-align: left;
  margin-bottom: 20px;
}

.progrress-container {
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3; /* Màu nền thanh tiến độ */
  border-radius: 20px; /* Bo tròn viền thanh tiến độ */
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #2FBB89; /* Màu tiến độ */
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar-content {
  font-size: 14px;
  color: #fff;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.icon {
  margin: 17px 10px;
  font-size: 30px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

   .btn-pj{
    width: 100px;
    height: 45px;
    margin: 20px 10px 0 34px;
    color: #fff;
    background: #2FBB89;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    border: none;
    z-index: 1;
  }
  .btn-pj:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #fff;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-pj:hover {
    color: black;
  }

.btn-pj a {
  color: white; /* Màu chữ trắng */
  text-decoration: none; /* Loại bỏ gạch chân */
  transition: color 0.3s; /* Hiệu ứng chuyển đổi màu trong 0.3 giây */
}

.btn-pj a:hover {
  color: black; /* Màu chữ đen khi hover */
}

/*----------------------------cac Project---------------------------------------------- */
.contents {
    max-width: 1100px;
    margin: 0 auto;
    
}

.contents-columns {
    display: flex;
}

.contents-column img {
    cursor: pointer;
    width: 270px;
    height: auto;
    margin-right: 15px;
}

.contents-columns p {
    font-size: 20px;
    margin: 10px 20px 10px 20px;
    text-align: justify;
}

.content h2 {
    font-size: 24px;
    margin: 10px 20px 10px 20px;
    width: 1200px;
}

/*----------------------------thành tựu---------------------------------------------- */
.achievements {
    text-align: center;
    margin: 20px 0;
}

.achievements h2 {
    font-size: 24px;
    margin: 50px 20px 10px 20px;
}

.achievement {
    display: inline-block;
    margin: 40px;
}

.achievement-icon img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.achievement-count {
    font-size: 20px;
    font-weight: bold; 
    margin-bottom: 10px;
}

.achievement-name {
    font-size: 16px;
    font-weight: bold;
}

/*----------------------------Our Gallery---------------------------------------------- */
.gallery {
    text-align: center;
}

.gallery h2 {
    font-size: 24px;
}

.row {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.image {
    margin: 0 10px;
}

.image img {
    max-width: 100%;
    height: auto;
}

/* ------------------footer------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #ffffff;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #2fbb89;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #2fbb89;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #201c1c;
  text-decoration: none;
  font-weight: 300;
  color: #111312;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #271d1d;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #110e0e;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #2fbb89;
  background-color: #ffffff;
}

/*responsive*/

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}


/* ----------------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
  /* CSS dành cho các màn hình có chiều rộng tối đa 767px (điện thoại di động) */

  /* Header */
  .header {
    display: flex;
  justify-content: space-between;
  align-items: center;
  }

  header a {
    margin: 0 10px;
  }
  
  header a {
    display: flex;
    align-items: center;
    /* ... */
  }
  
  .logo {
    display: flex;
    align-items: center;
    /* ... */
  }
  

  .logo-link img {
    width: 80px; /* Điều chỉnh kích thước logo */
  }

  .language-container {
    margin: 10px 0;
    float: none;
  }

  /* Menu */
  .menu-icon {
    font-size: 30px;
    display: block; /* Hiện icon menu khi kích thước màn hình nhỏ hơn 768px */
    z-index: 2;
  }

  .menu {
    display: none; 
  }

  .menu-rp.active {
    display: block; 
}


  .menu-rp li {
    margin: 10px 0;
    white-space: nowrap;
  }

  .menu li:first-child {
    margin: 0;
  }


  /* Project */
  .content h1 {
    width: 100%; /* Đảm bảo tiêu đề không vượt quá phần nội dung */
  }

  .content-columns {
    flex-direction: column;
  }

  .content-column img {
    width: 100%; /* Đảm bảo hình ảnh lấp đầy phần tử cha */
    height: auto;
  }

  .date-and-share {
    flex-direction: column;
    align-items: center;
  }

  .date,
  .share-icon {
    margin: 10px 0;
  }

  /* Buttons */
  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .view-more-button,
  .contributor-button {
    width: 100%; /* Đảm bảo nút lấp đầy phần tử cha */
  }

  /* New Project */
  .content {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1; /* Đảm bảo tiêu đề hiển thị trên cùng */
  }

  .title {
    font-size: 20px;
  }

  .video iframe {
    height: 300px;
  }

  /* Các Project */
  .contents-columns {
    flex-direction: column;
    align-items: center;
  }

  .contents-column img {
    width: 100%; /* Đảm bảo hình ảnh lấp đầy phần tử cha */
    height: auto;
  }

  .contents-columns p {
    margin: 10px 0;

  }

 

  /* Thành tựu */
  .achievement {
    margin: 10px; /* Khoảng cách giữa các thành tựu */
    text-align: center; /* Căn giữa nội dung */
    flex: 1; /* Cân đều không gian giữa các thành tựu */
    max-width: 250px; /* Đảm bảo rằng các thành tựu không quá rộng */
  
  }

  .achievement-icon img {
    width: 60px; /* Điều chỉnh kích thước biểu tượng thành tựu */
    height: 60px;
  }

  .achievement-count,
  .achievement-name {
    margin: 0 0;
  }

  /* Galery */
  .image img {
    width: 100%; /* Đảm bảo hình ảnh lấp đầy phần tử cha */
    height: auto;
  }



  /* social-links */
  .footer-col .social-links {
    display: flex;
    align-items: center;
  }
  
  .footer-col .social-links a {
    margin: 0 10px 10px 0;
  }
  
}
