@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

header {
  background-color: #ffffff;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

header a {
  color: #000000;
  text-decoration: none;
  margin: 0 10px;
}

.logo {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
}

.logo-link img {
  width: 100px; /* Đổi kích thước của logo */
  height: auto; /* Đảm bảo tỷ lệ khung hình không bị thay đổi */
  display: block; /* Loại bỏ khoảng trắng dư thừa ở dưới hình ảnh */
}

/* lang swtich */

.en-link img {
  width: 30px;
  display: block; /* Loại bỏ khoảng trắng dư thừa ở dưới hình ảnh */
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 20px;
  font-weight: bold; /* In đậm các mục trong menu */
}
.menu li:first-child {
  margin-left: 100px; /* Đẩy phần "Activities" sang phải 10px */
}

/*---------------------------- Tìm kiếm---------------------------------------------- */
.search-bar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 150px;
}

.search-container {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  overflow: hidden;
}

.search-container input {
  width: 500px; /* Giảm 50px để làm cho input vừa khít với button */
  padding: 10px;
  border: none;
  outline: none;
  background-color: #f9f9f9;
  color: #000000;
  border-radius: 0 20px 20px 0; /* Điều chỉnh góc */
  font-weight: bold; /* In đậm các mục trong menu */
}

.search-container button {
  background-color: #f9f9f9;
  color: #696969;
  border: none;
  border-radius: 20px 0 0 20px; /* Điều chỉnh góc */
  padding: 10px 12px;
  cursor: pointer;
}

.search-container button i {
  font-size: 18px;
}

/* slider */

/* footer */
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #ffffff;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #2fbb89;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #2fbb89;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #201c1c;
  text-decoration: none;
  font-weight: 300;
  color: #111312;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #271d1d;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #110e0e;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #2fbb89;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* cac pj */

/* .contents {
  max-width: 1100px;
  margin: 0 auto;
}

.contents-columns {
  display: flex;
}

.contents-column img {
  cursor: pointer;
  width: 270px;
  height: auto;
  margin-right: 15px;
}

.contents-columns p {
  font-size: 20px;
  margin: 10px 20px 10px 20px;
}

.content h2 {
  font-size: 24px;
  margin: 10px 20px 10px 20px;
  width: 120
} */
/*TEST*/
.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   }
.card {
    width: 400px;
    padding: 20px;
    box-shadow: 7px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0.5px solid black;
    flex: 0 0 30%;
    margin-bottom: 20px;
}
.title {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}
.video {
    width: 100%;
    height: 200px;
    background-color: #e0e0e0;
    margin-bottom: 20px;
}
.description {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}
.progress-container {
    display: inline-block;
    position: relative;
    justify-content: flex-start;
}
.progress-bar {
    height: 25px;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #2FBB89;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .progress-bar-content {
    font-size: 14px;
    color: #fff;
  }

  .icon-container {
    display: flex;
    justify-content:flex-start;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
   }
   .icon {
    margin-top: 25px;
    margin-left: 8px;
   }

   .btn-pj{
    width: 100px;
    height: 45px;
    margin: 20px 10px 0 34px;
    color: #fff;
    background: #2FBB89;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    border: none;
    z-index: 1;
  }
  .btn-pj:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #fff;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-pj:hover {
    color: black;
  }

  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .sponsor-container {
    display: flex;
    
  }
  
  .profile {
    margin: 1rem;
    width: 300px;
    height: 500px;
    padding: .5rem 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 0.5px solid black;
    box-shadow: 0 12px 32px 4px rgba(black, .2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s;
    
    &:hover {
      transform: translateY(-5px);
    }

  }

  .avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 0 30px 0 30px;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
  text-align: left;
  margin:0pt;
  
} 

.founder-card {
  width: 650px;
  height: 400px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 10px 0 10px 430px;
  
}

.founder-card h1 {
  text-align: center;
}

.founder-card .user-card {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}



.founder-card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.txt1-spon,
.txt2-spon,
.link-spon1 {
  position: absolute;
  letter-spacing: 0.4px;
  margin-left: 30px;
  display: inline-block;
  width: 255px;
  height: 20px;
}
.link-spon1 {
  top: 150px;
  left: 10px;
  font-weight: 300;
  color: var(--color-royalblue);
}
.txt1-spon,
.txt2-spon {
  top: 26px;
  left: 0;
}
.txt2-spon {
  top: 0;
}
.txt-spon1 {
  position: absolute;
  top: 97px;
  left: 27px;
  width: 255px;
  height: 46px;
  font-size: var(--font-size-6xl);
}
.name-spon1,
.job-spon1 {
  position: absolute;
  display: inline-block;
  text-align: center;
}
.job-spon1 {
  top: 58px;
  left: 0;
  letter-spacing: 0.4px;
  line-height: 27.9px;
  font-weight: 300;
  width: 269px;
  height: 20px;
}
.name-spon1 {
  top: 0;
  left: 11px;
  font-size: var(--font-size-17xl);
  line-height: 54px;
  text-transform: uppercase;
  width: 260px;
  height: 47px;
}
.nd-spon1 {
  position: absolute;
  top: 566px;
  left: 591px;
  width: 282px;
  height: 170px;
}
.link-spon2 {
  position: absolute;
  top: 148px;
  left: 50px;
  letter-spacing: 0.4px;
  line-height: 27.9px;
  font-weight: 300;
  color: var(--color-royalblue);
  display: inline-block;
  width: 255px;
  height: 20px;
}
.txt-spon2 {
  position: absolute;
  top: 95px;
  left: 27px;
  width: 255px;
  height: 46px;
  font-size: var(--font-size-6xl);
}
.name-spon2,
.job-spon2 {
  position: absolute;
  display: inline-block;
  text-align: center;
}
.job-spon2 {
  top: 56px;
  left: 0;
  letter-spacing: 0.4px;
  line-height: 27.9px;
  font-weight: 300;
  width: 269px;
  height: 20px;
}
.name-spon2 {
  top: 0;
  left: 9px;
  font-size: var(--font-size-17xl);
  line-height: 54px;
  text-transform: uppercase;
  width: 260px;
  height: 47px;
}
.sponsor-child,
.nd-spon2 {
  position: absolute;
  top: 566px;
  left: 993px;
  width: 282px;
  height: 168px;
}
.sponsor-child {
  top: 217px;
  left: 157px;
  border-radius: 50%;
  width: 321px;
  height: 321px;
  object-fit: cover;
}
.sponsor-inner,
.sponsor-item {
  position: absolute;
  width: 324px;
  object-fit: cover;
}
.sponsor-item {
  top: 217px;
  left: 555px;
  border-radius: 50%;
  height: 338px;
}
.sponsor-inner {
  top: 214px;
  left: 958px;
  height: 341px;
  object-fit: cover;
  border-radius: 50%;
}
.link-spon3 {
  position: absolute;
  top: 146px;
  left: 50px;
  letter-spacing: 0.4px;
  line-height: 27.9px;
  font-weight: 300;
  color: var(--color-royalblue);
  display: inline-block;
  width: 255px;
  height: 20px;
}
.txt-spon3 {
  position: absolute;
  top: 93px;
  left: 27px;
  width: 255px;
  height: 46px;
  font-size: var(--font-size-6xl);
}
.job-spon3,
.name-spon3 {
  position: absolute;
  display: inline-block;
  text-align: center;
}
.job-spon3 {
  top: 54px;
  left: 0;
  letter-spacing: 0.4px;
  line-height: 27.9px;
  font-weight: 300;
  width: 269px;
  height: 20px;
}
.name-spon3 {
  top: 0;
  left: 12px;
  font-size: var(--font-size-17xl);
  line-height: 54px;
  text-transform: uppercase;
  width: 260px;
  height: 47px;
}
.nd-spon3 {
  position: absolute;
  top: 566px;
  left: 176px;
  width: 282px;
  height: 166px;
}
.sponsor {
  position: relative;
  width: 100%;
  height: 770px;
  top: -130px;
  right: -50px;
  margin-top: 10px;

}


/* .founder-card {
  width: 500px;
  padding: 20px;
  box-shadow: 7px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 0.5px solid black;
  flex: 0 0 30%;
  margin-bottom: 20px;
}

.avatar-founder {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ccc;
  margin: 0 170px;

}

.avatar-founder img {
  width: 100%;
  height: auto;
}

